{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="row">
  <div class="col-sm-8">
    <h2>Users List</h2>

    <ul>
      <li>add comment</li>


      {% for post in feed.object_list %}
      <li style="list-style: none;">
        <div class="post-card">
          {% if post.post_type == 'text' %}
          <div class="card-body">{{post.content}}</div>
          {% elif post.post_type == 'image' %}
          <div class="card-body"><img height="160px" src="{{ post.cover.url}}" alt="{{ post.title }}"></div>

          {% else %}
          No posts
          {% endif %}
          <div class="card-footer text-muted">
            <p><strong>{{post.author}}</strong> Posted on: {{post.post_date}}</p>
            <p>add comment</p>
          </div>

        </div>

      </li>
      {% endfor %}
      <div class="pagination ">
        <span class="step-links">
          {% if feed.has_previous %}
          <a class="btn btn-success" href="?page=1">&laquo; first</a>
         
          <a class="btn btn-success" href="?page={{ feed.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
            Page {{ feed.number }} of {{ feed.paginator.num_pages }}.
          </span>
          {% if feed.has_next %}
          <a class="btn btn-success" href="?page={{ feed.next_page_number }}">next</a>
          
          <a class="btn btn-success" href="?page={{ feed.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>

    </ul>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 23rem;">
      <div class="card-header">
        <h2>Users List</h2>
      </div>



      <style>

      </style>
      <table class="demo">
        <caption>Users</caption>
        <thead>
          <tr>
            <th colspan="4">User List</th>
          </tr>
        </thead>
        <tbody>
          {% for user in house_users %}
          <tr>

            <td>
              <div class="avatar"> <img height="50px" src="{{ user.houseuserprofile.avatar_url }}" /></div>
            </td>
            <td>{{ user.username }}</td>
            <td>Birthday: {{ user.houseuserprofile.birth_date }}</td>
            <td> <a class="btn btn-success" href="{% url 'profile_others' user.username %}">View Profile</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>



  </div>
  </li>


  </ul>
</div>

</div>

{% endblock %}